In [1]:
from selenium import webdriver

In [6]:
driver = webdriver.Chrome(executable_path = '/Users/codingninjastudio/Downloads/chromedriver')
driver

In [7]:
driver.get('http://kanview.ks.gov/PayRates/PayRates_Agency.aspx')

In [9]:
a = driver.find_element_by_link_text('Adjutant General')
a

In [10]:
a.click()

In [11]:
from bs4 import BeautifulSoup
import pandas as pd

dataFrameList = []

for i in range(2) : 
    link = driver.find_element_by_id('MainContent_uxLevel2_JobTitles_uxJobTitleBtn_' + str(i))
    link.click()
    
    data = BeautifulSoup(driver.page_source, 'lxml')
    emp_table = data.table
    print(type(emp_table))
    df = pd.read_html(str(emp_table), header = 0)
    dataFrameList.append(df[0])
    driver.back()

<class 'bs4.element.Tag'>
<class 'bs4.element.Tag'>

In [13]:
dataFrameList

[               Employee Name   Job Title Overtime Pay Total Gross Pay
 0     Black,Shannon Michelle  Accountant        $0.00      $48,057.30
 1             Bowser,Jamie M  Accountant        $0.00      $46,650.87
 2           Bradford,Randy D  Accountant        $0.00      $42,707.40
 3              Epps,David A.  Accountant        $0.00      $40,666.91
 4         Fairbanks,Angela K  Accountant    $1,034.15      $45,614.43
 5  Klenklen-Albertson,Tina L  Accountant        $0.00      $43,958.20
 6            Nelson,Shayna I  Accountant        $0.00      $29,078.09,
           Employee Name           Job Title Overtime Pay Total Gross Pay
 0   Neth,Michael Edward  Accounting Manager      $239.40      $60,591.35
 1  Rightmeier,Yolanda M  Accounting Manager    $1,324.44      $66,020.29]

In [22]:
# driver.find_element_by_id('MainContent_uxLevel2_JobTitles_uxJobTitleBtn_75')

In [25]:
a = driver.find_element_by_link_text('Board of Accountancy')
a.click()

In [26]:
from selenium.common.exceptions import NoSuchElementException

dataFrameList = []

i = 0
while True : 
    try : 
        link = driver.find_element_by_id('MainContent_uxLevel2_JobTitles_uxJobTitleBtn_' + str(i))
        link.click()

        data = BeautifulSoup(driver.page_source, 'lxml')
        emp_table = data.table
        print(type(emp_table))
        df = pd.read_html(str(emp_table), header = 0)
        dataFrameList.append(df[0])
        driver.back()
        i += 1
    except NoSuchElementException :
        break

<class 'bs4.element.Tag'>
<class 'bs4.element.Tag'>
<class 'bs4.element.Tag'>
<class 'bs4.element.Tag'>

In [27]:
dataFrameList

[         Employee Name               Job Title Overtime Pay Total Gross Pay
 0  Ramskill,Samantha S  Administrative Officer        $0.00      $41,545.21,
     Employee Name                  Job Title Overtime Pay Total Gross Pay
 0  Miller,Janet M  Administrative Specialist        $0.00       $9,628.95,
         Employee Name                     Job Title Overtime Pay  \
 0      Anderson,Ted C  Appt/elect Bd/comm Bd Member        $0.00
 1        Helms,John R  Appt/elect Bd/comm Bd Member        $0.00
 2     Lange,Corlene R  Appt/elect Bd/comm Bd Member        $0.00
 3     Marsh,Michael L  Appt/elect Bd/comm Bd Member        $0.00
 4  Mitchell,Kathryn J  Appt/elect Bd/comm Bd Member        $0.00
 5   Richey,Meredith A  Appt/elect Bd/comm Bd Member        $0.00

   Total Gross Pay
 0         $280.00
 1         $280.00
 2         $280.00
 3         $280.00
 4         $245.00
 5         $210.00  ,
      Employee Name           Job Title Overtime Pay Total Gross Pay
 0  Somers,Susan L.  Executive Director        $0.00      $78,207.31]

In [34]:
df = pd.concat(dataFrameList, ignore_index = True)

,Employee Name,Job Title,Overtime Pay,Total Gross Pay
0,"Ramskill,Samantha S",Administrative Officer,$0.00,"$41,545.21"
1,"Miller,Janet M",Administrative Specialist,$0.00,"$9,628.95"
2,"Anderson,Ted C",Appt/elect Bd/comm Bd Member,$0.00,$280.00
3,"Helms,John R",Appt/elect Bd/comm Bd Member,$0.00,$280.00
4,"Lange,Corlene R",Appt/elect Bd/comm Bd Member,$0.00,$280.00
5,"Marsh,Michael L",Appt/elect Bd/comm Bd Member,$0.00,$280.00
6,"Mitchell,Kathryn J",Appt/elect Bd/comm Bd Member,$0.00,$245.00
7,"Richey,Meredith A",Appt/elect Bd/comm Bd Member,$0.00,$210.00
8,"Somers,Susan L.",Executive Director,$0.00,"$78,207.31"