In [2]:
import sqlite3

db = sqlite3.connect('IMDB.sqlite')
db

In [9]:
db = sqlite3.connect('IMDB_1.sqlite')
db

In [10]:
db = sqlite3.connect('School.sqlite')
db

In [11]:
cur = db.cursor()
cur

In [12]:
sql_query = 'Create table Student (RollNumber int Primary key, Name Text, Age int)'
cur.execute(sql_query)

In [13]:
cur.execute('Insert into Student values (101, "Aman", 20)')

In [14]:
db.commit()

In [16]:
cur.execute('Insert into Student values (102, "Amit", 21)')

In [17]:
db.commit()

In [18]:
db.close()

In [19]:
cur.execute('Insert into Student values (102, "Amit", 21)')

ProgrammingError: Cannot operate on a closed database.