In [1]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [4]:
cur.execute('Insert into Student values (103, "Mohit", 24)')

In [5]:
db.commit()

In [6]:
rollNumber = 104
Name = "Nikhil"
age = 34

cur.execute('Insert into Student values (?, ?, ?)', (rollNumber, Name, age))

In [7]:
db.commit()

In [9]:
values = [(105, "Nidhi", 20), (106, "Manisha", 21), (107, "Ankush", 22)]
cur.executemany('Insert into Student values (?, ?, ?)', values)

In [10]:
db.commit()

In [11]:
cur.execute('Update Student set Age = 30')

In [12]:
db.commit()

In [13]:
cur.execute('Update Student set Age = 20 where RollNumber = 102')
db.commit()

In [16]:
new_age = 50
cur.execute('Update Student set Age = ? where RollNumber = 103', (new_age, ))

In [17]:
db.commit()