In [1]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [6]:
cur = db.cursor()
cur

In [17]:
cur.execute('Select * from Student')

In [18]:
for row in cur :
    print(row)

(101, 'Aman', 30)
(102, 'Amit', 20)
(103, 'Mohit', 50)
(104, 'Nikhil', 30)
(105, 'Nidhi', 30)
(106, 'Manisha', 30)
(107, 'Ankush', 30)

In [20]:
cur.execute('Select * from Student')
print(cur.fetchone())
print(cur.fetchone())

(101, 'Aman', 30)
(102, 'Amit', 20)

In [21]:
cur.execute('Select * from Student')
print(cur.fetchmany(3))

[(101, 'Aman', 30), (102, 'Amit', 20), (103, 'Mohit', 50)]

In [22]:
cur.execute('Select * from Student')
print(cur.fetchmany())

[(101, 'Aman', 30)]

In [24]:
cur.execute('Select * from Student')
ans = cur.fetchall()
ans

[(101, 'Aman', 30),
 (102, 'Amit', 20),
 (103, 'Mohit', 50),
 (104, 'Nikhil', 30),
 (105, 'Nidhi', 30),
 (106, 'Manisha', 30),
 (107, 'Ankush', 30)]

In [37]:
cur.execute('Select * from Student where RollNumber > 103')
print(cur.fetchall())

[(104, 'Nikhil', 30), (105, 'Nidhi', 30), (106, 'Manisha', 30), (107, 'Ankush', 30)]

In [38]:
cur.execute('Select * from Student where Name like "A%"')
print(cur.fetchall())

[(101, 'Aman', 30), (102, 'Amit', 20), (107, 'Ankush', 30)]